[*.cs]

# 行末の空白を削除します
trim_trailing_whitespace = true

# 最終行に空白を挿入します
insert_final_newline=true

# System.* using ディレクティブをアルファベット順に並べ替え、他の using ディレクティブの前に配置します
dotnet_sort_system_directives_first = true

# using ディレクティブ グループの間に空白行を配置しません
dotnet_separate_import_directive_groups = false

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none

# IDE0008: 明示的な型の使用
csharp_style_var_elsewhere = true

# IDE0008: 明示的な型の使用
csharp_style_var_when_type_is_apparent = true

# IDE0011: 波かっこを追加します
csharp_prefer_braces = false

# IDE0021: コンストラクターにブロック本体を使用する
csharp_style_expression_bodied_constructors = false

# IDE0022: メソッドにブロック本体を使用する
csharp_style_expression_bodied_methods = when_on_single_line

# IDE0040: アクセシビリティ修飾子を追加します
dotnet_style_require_accessibility_modifiers = never

# IDE0061: ローカル関数にブロック本体を使用します
csharp_style_expression_bodied_local_functions = false

# CA1304: CultureInfo を指定します
dotnet_diagnostic.CA1304.severity = warning
